
.container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-text {
  text-align: center;
}
.input-container {
  margin: 10px 0;
}

.sum {
  font-weight: bold;
}

.sizes-input-select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.calculate {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
